.orderPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.orderList {
    list-style-type: none;
    padding: 0;
}

.orderContainer {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.productImage img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.productDetails {
    display: flex;
    flex-direction: column;
}

.productName,
.productPrice {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
