body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container { 
    border-radius: 20px;
    width: 400px;
    max-width: 450px;
    margin: auto; 
    padding: 35px 20px;
    box-shadow: 0 5px 10px;
    background-color: rgb(232, 232, 232);
    margin-top: 90px;

}

form input{
    display: block;
    align-items: center;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightslategray;
}

textarea{
    display: block;
    align-items: center;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightslategray;
}

h2{
    text-align: center;
}

button{
    background-color: teal;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
    text-decoration: none;
    font-size: small;
    margin-top: 5px;
}
.header {
    background-color: teal;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 4px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header h2 {
    font-family: sans-serif;
    color: rgb(252, 252, 252);
    padding-left: 50px;
}

.sidebar {
    background: linear-gradient(to top left, rgb(73, 72, 72), rgb(157, 155, 155), whitesmoke);
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 75px; 
    left: 0;
    overflow-y: auto;
    z-index: 900;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.sidebar li a {
    display: block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: teal;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    color: white;
}

.main-content {
    display: flex;
    justify-content: center;
    padding-top: 70px; 
    margin-left: 250px; 
    width: calc(100% - 250px);
}

.content {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(73, 163, 91);
    color: white;
    display: inline-block;
    margin: 20px;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
    .header {
        width: 100%;
        padding-left: 20px;
    }
    
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .sidebar li {
        text-align: center;
    }
    
    .main-content {
        align-items: center;
        padding-top: 100px;
        margin-left: 0;
        width: 100%;
    }
    
    .content {
        width: 90%;
        margin-left: 0;
    }
}


@media (max-width: 1067px) {
    .container{
        margin-left: 250px;
        padding: 20px;

    }
}

@media (max-width: 1000px){
    .container{
        margin-left: 230px;
        
    }
}
@media (max-width: 900px){
    .container{
        margin-left: 190px;
        
    }
}


