
.container {
    display: inline-block;
    margin-left: 260px; 
    margin-right: auto; 
    box-shadow: 0 5px 10px black;
    padding: 30px;
    background-color: rgb(227, 227, 227);
    transition: 0.3s ease;
    border-radius: 10px;
    margin-top: 50px;
}

.editUserButton{
    background-color: teal;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
    text-decoration: none;
    font-size: small;
}

.back{
    background-color: teal;
    color: white;
    text-decoration: none;
    padding: 4px;
    font-size: small;
    border-radius: 4px;
}

.user-container{
    width: 100vh;
    display: flex;
    margin-left: 300px;
    box-shadow: 0 5px 5px;
    padding: 20px;
}

.user{
    font-weight: 300;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    
    
}
table{
    background-color: rgb(227, 227, 227);
    margin: 0;
    border-radius: 5px;
    table-layout: auto;
}
th{
    padding:5px 50px;
    padding-left: 0;
}

button{
    background-color: teal;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
}
.addButton{
    background-color: teal;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
    text-decoration: none;
    font-size: small;
}

.editButton{
    background-color: teal;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
    text-decoration: none;
    font-size: small;
}
.addUser{
    background-color: rgb(239, 238, 238);

    margin-top: 40px;
    margin-left: 500px;
    max-width: 600px;
    padding: 10px;
    box-shadow: 0 5px 5px;
    border-radius: 10px;
}
form input{
    display: block;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightslategray;
}

.addUser h2{
    text-align: center;
}

.header h2 {
    font-family: sans-serif;
    color: rgb(252, 252, 252);
    padding-left: 50px;
}

.sidebar {
    background: linear-gradient(to top left, rgb(73, 72, 72), rgb(157, 155, 155), whitesmoke);
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 75px; 
    left: 0;
    overflow-y: auto;
    z-index: 900;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.sidebar li a {
    display: block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: teal;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    color: white;
}

.main-content {
    display: flex;
    justify-content: center;
    padding-top: 70px; 
    margin-left: 250px; 
    width: calc(100% - 250px);
}

.content {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(73, 163, 91);
    color: white;
    display: inline-block;
    margin: 20px;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
    .header {
        width: 100%;
        padding-left: 20px;
    }
    
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .sidebar li {
        text-align: center;
    }
    
    .main-content {
        align-items: center;
        padding-top: 100px;
        margin-left: 0;
        width: 100%;
    }
    
    .content {
        width: 90%;
        margin-left: 0;
    }
}


@media (max-width: 1067px) {
    .container{
        margin-left: 250px;
        padding: 20px;

    }
}

@media (max-width: 1000px){
    .container{
        margin-left: 230px;
        
    }
}
@media (max-width: 900px){
    .container{
        margin-left: 190px;
        
    }
}


