.container{
    border: 0.5px rgb(197, 197, 197) solid;
    padding: 10px;
}
.container h3{
    text-align: center;
    margin-top: 10px;
}
.editButton, .deleteButton, .addButton {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}
.editButton, .deleteButton, .addButton:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}

.editButton {
    background-color: #28a745;
    color: white;
    border: none;
}

.deleteButton {
    background-color: #dc3545;
    color: white;
    border: none;
}

.text-center {
    text-align: center;
}

.addButton {
    background-color: #007bff;
    color: white;


}

.profile-img {
    border-radius: 50%;
    width: 50px;
    height: 30px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 6px 12px; 
    margin: 0 2px; 
    border-radius: 4px;
    color: #000000; 
    text-decoration: none;
    border: 1px solid #000000; 
    background-color: #ffffff; 
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #000000; 
    color: #ffffff;
}

.pagination .disabled {
    color: #ccc; 
    border-color: #ccc; 
    pointer-events: none;
}

.pagination .active {
    background-color: #000000; 
    color: #ffffff; 
    border-color: #000000; 
}
